/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* ---------------------------------------------------------------------------------- */
/* --------------------------------- DEFAULT CSS--------------------------------- */
* {
  margin: 0;
  padding: 0;
}

:root {
  --theme: #dad4d4;
  --white: #fff;
  --dark: #404149;
  --Poppins: 'Poppins';
}

body {
  color: #757575;
  font-family: var(--Poppins);
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--white);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* ------------------------------------------------------------------------------------------ */
/* ---header CSS----- */
.header {
  padding: 20px 0;
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #dee2e6;
}

.header .logo img {
  width: 135px;
  height: auto;
  border-radius: 10px;
}

nav ul li {
  position: relative;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  padding: 26px 0;
  color: #fff;
  display: inline-block;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

nav ul li a.active::after {
  transform: scaleX(1);
}

/* -----banner section---- */
.bg_banner {
  background-image: url(../assets/asset\ 1.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.bg_banner:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .5;
  z-index: 2;
}

.bg_banner .caption {
  text-align: center;
  color: #fff;
  margin-top: 50px;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 11;
}

.bg_banner .caption h5 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.bg_banner .caption h1 {
  font-weight: 200;
}

.bg_banner .caption .social-icon {
  margin-top: 30px;
}
.btn1 {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 7px 15px;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}
.dw-1{
  margin-top: 30px;
}
.btn1:hover {
  background-color: #fff;
  border: none;
  color: #55413e;
}
.bg_banner .caption .social-icon span i {
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

/* ---about section css */
.about_sec {
  padding: 100px 0;
}

.about_sec .info h4 {
  color: #55413e;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about_sec .img_box {
  position: relative;
  margin: 0 60px;
}

.about_sec .img_box img {
  width: 425px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 20%);
}

.about_sec .info span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.about_sec .info p {
  margin-top: 15px;
}

.about_sec .skill h3 {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.about_sec .skill p {
  max-width: 90%;
  color: #7e7e7e;
  font-size: 16px;
  margin-bottom: 30px;
}

.prog span {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}

.prog {
  padding: 0px 15px 0px 15px;
  margin-bottom: 31px;
}

.bar {
  position: relative;
  border: 1px solid #7e7e7e;
  border-radius: 2px;
  height: 16px;
  padding: 2px;
}

.bar .width {
  height: 100%;
  border-radius: 2px;
  background: #55413e;
  overflow: hidden;
}

/* service section css */
.head h4 {
  color: #55413e;
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 600;
}

.box {
  padding: 50px 20px;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #efefef;
  text-align: center;
}


.box .icon {
  font-size: 25px;
  padding: 14px 15px;
  background-color: #f4f4f4;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.service_sec .box h6 {
  color: #55413e;
  margin-bottom: 20px;
  margin-top: 35px;
  font-weight: 800;
  font-size: 18px;
}

.box p {
  max-width: 100%;
  color: #55413e;
  font-size: 16px;
}

.box:hover .icon {
  background-color: #55413e;
  color: #fff;
}

/* ---portfolio section--- */
.portfolio_sec {
  padding: 100px 0;
}

.filtering {
  margin-bottom: 50px;
}

.filtering span {
  margin: 0 15px;
  color: #222;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.filtering span.active {
  color: #030c26;
  border-bottom: 2px solid #252525;
  font-weight: 700;
}

.imgs_box {
  position: relative;
  overflow: hidden;
  margin-bottom: 26px;
}

.imgs_box img {
  width: 360px;
  height: 250px;
  /* object-fit: cover; */

}

.imgs_box .layer {
  position: absolute;
  top: 0px;
  left: 5px;
  right: 5px;
  bottom: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: all .5s;
  z-index: 2;
  transform: translateY(5px);
}

.imgs_box:hover .layer {
  opacity: 1;
}

.imgs_box .layer h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 30%;
  text-align: center;
  vertical-align: middle;
  transition: all .5s;
  transform: translateY(-15px);
}

.imgs_box .layer .link {
  text-align: center;
}

.imgs_box .layer .link i {
  color: #fff;
  font-size: 10px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 100%;
}

.imgs_box .layer .link i:hover {
  background-color: #fff;
  color: #111;
}

/*---- contact section ---- */
.item1 {
  margin-bottom: 70px;
}

.item1 .icon1 {
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 60px;
  background: #f4f4f4;
  border-radius: 50%;
  transition: all .5s;

}

.item1 .icon1:hover {
  background-color: #55413e;
  color: #fff;
}

.item1 h6 {
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item1 p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

input[type="email"]:focus,
input[type="checkbox"]:focus,
textarea[type="text"]:focus {
  outline: none;
  box-shadow: none;
  background: #f4f4f4;
}

.cont input,
.cont textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
}

::placeholder {
  font-size: 15px;
  color: #748182;
}

.cont .form .buton {
  padding: 10px 40px;
}

.buton-bg {
  background: #1c1c1c;
  color: #eee;
}

.btn2 {

  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
  background-color: #55413e;
  border: 2px solid #55413e;
  color: #fff;
}

.btn2:hover {
  background-color: transparent;
  border: 2px solid #404149;
  color: #111;
}

footer {
  background: #55413e;
  padding: 30px;
}

footer p {
  font-size: 13px;
  word-spacing: 2px;
  color: gray;
  vertical-align: middle;
  margin: 0;
}




.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  animation: header_scroll 1s ease-in-out;
}

@keyframes header_scroll {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.sticky_top {
  width: 45px;
  height: 45px;
  background-color: #55413e;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 47px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px #00000026;
}

.preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  max-width: 100%;
}